<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
    .form-inline .form-control {
      width: 500px;
    }
  </style>
  <script>
    $( "#searchForm" ).submit(function( event ) {

      // Stop form from submitting normally
      event.preventDefault();

      // Get some values from elements on the page:
      var $form = $( this ),
        slink = $form.find( "input[name='link']" ).val(),
        url = $form.attr( "action" );

      // Send the data using post
      var posting = $.post( url, { link: slink } );

      // Put the results in a div
      posting.done(function( data ) {
            alert(data);
<!--        var content = $( data ).find( "#content" );-->
<!--        $( "#result" ).empty().append( content );-->
      });
    });
  </script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <form class="form-inline" action="/link" id="searchForm">
    <input class="form-control mr-sm-2" name="link" type="text" placeholder="http://www.aaa.com">
    <button class="btn btn-success" type="submit">Make Link</button>
  </form>
</nav>
<div class="container">
  <h2>Striped Rows</h2>
  <p>The .table-striped class adds zebra-stripes to a table:</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
